.App {
  // display: flex;
  // flex-wrap: wrap;
  // // flex-direction: column;
  // margin-left: auto;
  // margin-right: auto;
  // align-content: center;
  // justify-content: center;
  // min-height: 100vh;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  padding: 20px 0px;
}

.form {
  border-radius: 5px;
  min-width: 40vw;
  display: grid;
  place-self: center;

  padding: 25px;
  margin-left: auto;
  margin-right: auto;

  input {
    margin: 10px 0px;
    padding: 10px 10px;
    border-style: none;
    border-radius: 5px;
  }

  // background-color: var(--bg-color);
}

@media screen and (min-width: 600px) {
  footer {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .form {
    min-width: 70vw;
  }
}

.errorAlert {
  margin-top: 10px;
}
.errorAlert-enter,
.errorAlert-appear {
  opacity: 0;
  max-height: 0;
}

.errorAlert-enter-active,
.errorAlert-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in, max-height 1s ease-out;
  max-height: 200px;
}

.errorAlert-exit {
  max-height: 200px;
  opacity: 1;
}

.errorAlert-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 300ms ease-in, max-height 0.5s ease-out;
}

.pages {
  position: absolute;
}

.transform-enter,
.transform-exit {
  transition: transform 1000ms ease-out;
}

.pages-enter {
  transform: translateX(100%);
}

.pages-enter-active {
  transform: translateX(0%);
  transition: transform 1000ms ease-out;
}

.pages-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.pages-exit-active {
  transform: translateX(-100%);
  transition: transform 1000ms ease-in-out;
}
