.PostPageComponent {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  // justify-content: center;
  margin-top: 120px;
}

img {
  user-select: none;
}
