// .ProfileSettingsComponent {
//   margin-top: 70px;
// }
.ProfileSettingsComponent {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pseudoImage {
  // width: 400px;
  // height: 400px;
  position: relative;
}

.pseuddoImage img {
  width: 100%;
  vertical-align: top;
}

.pseudoImage::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.img {
  max-width: 200px;
  display: block;
  transition: all 400ms;
}

.img:hover {
  opacity: 0.5;
}

// .img::after {
//   content: 'cross';
// }

.pseudoImage:hover::after {
  opacity: 1;
}

input[type='file'] {
  display: none;
}
.uploadButton {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
