.ProfileComponent {
  margin-top: 100px;
  display: grid;
  margin-bottom: 100px;
}

.profileImg {
  height: 150px;
  width: 150px;
}

// .profilepic {
//   height: 150px;
//   width: 150px;
//   background-color: white;
// }
